<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<pre>
  В мире ничего сложного нет, ведь он геометричен и закономерен, 
  поэтому мир легко поддается познанию. Нужно только применять геометрические методы, 
  и все станет на свои места. Так считал известный философ и мыслитель из Нидерландов Бенедикт Спиноза. 
  Его причисляют к пантеистической школе, поскольку он доказал, 
  что природа является бесконечной и вечной субстанцией. И она отождествляется с Богом. 
  Своими мыслями, идеями, размышлениями Спиноза делился с учениками и читателями, которые сейчас изучают его 
  трактаты. Для студентов философских и гуманитарных факультетов изучение трудов Спинозы является обязательным. 
  Не с первого раза можно понять, что имел в виду в своих высказываниях и афоризмах этот великий голландец 
  еврейского происхождения. Сочинения наталкивают на глубокие размышления о природе, человеке, его действиях 
  и закономерностях существования.

  Бенедикт Барух (еврейское имя) Спиноза появился на свет в Амстердаме 24 ноября 1632 г. 
  В то время город уже завоевал славу центра вольнодумства и толерантности в Европе. 
  Отец будущего философа решился на переезд в Амстердам, чтобы убежать от жестокой португальской инквизиции. 
  В XVII в. представители католической церкви всячески боролись с инакомыслием в своих рядах, 
  преследуя всех противников христианской веры. Страдали и евреи, которых Португалия причисляла к народам, 
  приносящим одни беды и проблемы. Родители принадлежали к еврейской общине, регулярно ходили на собрания, 
  проводившиеся в Амстердаме. Когда маленький Бенедикт подрос, его отдали в еврейскую школу. Мальчик был у 
  преподавателей на особом счету, поскольку его отец был довольно богатым купцом. Спинозу заставляли читать 
  средневековых еврейских философов, комментарии к Талмуду и Ветхому Завету, учить древний язык своего народа. 
  Учителя и община хотели, чтобы потом мальчик стал раввином и богословом. У Бенедикта были 
  все предрасположенности к этому. Ему легко давалась учеба, он глубоко задумывался над работами философов-евреев, 
  особенно над трудами Уриэля Акосту. Огромный вклад в получение знаний внесло и то, 
  что Барух посещал учебное заведение Франциска Ван ден Эдена. Знакомство здесь с античной историей, 
  культурой, философией, литературой полностью изменило мировоззрение Спинозы. Он стал увлекаться изучением 
  латинского языка, естествознанием, математикой. Любимым философом стал Рене Декарт, 
  которого Бенедикт уважал за вольнодумство, свободомыслие, критическое отношение ко всему живому и неживому. 
  Именно то, что Декарт подвергал все сомнению, особенно истины, которые считались общепринятыми, 
  очень импонировало Спинозе. Ведь он получил еще одно подтверждение тому, что все надо проверять и делать 
  логические заключения, основываясь на своих наблюдениях и знаниях.


</pre>
{% endblock %}